/* dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* Root and Body - Theme Variables */
:root {
  /* Body CSS var */
  --text-color: #ffffff;
  --logo-text-color: #96ca0d;
  --background-color: #0d1116;
  --background-color-header: #000000;
    
  /* Box CSS var */
  --box-outline-color: #2f363c;
  --box-bg-color-dark: #000000;
  --box-bg-color-light: #c1c1c1;

  /* Forms CSS var */
  --font-size-label: 13px;
  --font-size-input: 15px;
  --button-bg-normal-color: #121d2d;
  --button-bg-hover-color: #1e4a7f;
}

/* Body and Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
}

/* Main Layout */
#dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main,
.content-container {
  position: relative;
  overflow: auto;
  flex-grow: 1;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: calc(100% - 20px);
  border: 1px solid var(--box-outline-color);
  border-radius: 10px;
  margin: 10px 10px 0;
  position: sticky;
  top: 0;
  background-color: var(--background-color-header);
  z-index: 1;
  overflow-y: auto;
}

/* Logo */
#logo {
  display: flex;
  align-items: center;
}

#logo div {
  margin-left: 0px;
  font-size: 1.0em;
}

#logo-img {
  display: block;
  height: 15px;
}

#logo-text {
  color: var(--logo-text-color);
  font-weight: 700;
}


/* Sidebar */
#sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; /* This allows the sidebar to grow relative to other flex items */
  min-width: 220px; /* Minimum width */
  max-width: 250px; /* Maximum width */
  position: sticky;
  top: 0;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

/* Menu */
.menu {
  width: calc(100% - 10px);
  padding: 0 0 5px 10px;
  background-color: var(--background-color);
  justify-content: center;
}

.menu .item {
  padding: 10px 18px 10px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--box-outline-color);
  border-radius: 10px;
  margin: 0 5px 5px 0;
}

.menu .item:first-child {
  margin-top: 10px;
}

.menu .item:last-child {
  margin-bottom: 20px;
}

.menu .icon-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.menu .item:hover {
  background-color: var(--box-bg-color-dark);
  color: #ffffff;
}

.light-theme .menu .item:hover {
  background-color: var(--box-bg-color-light);
}

/* Theme Toggle */
#theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
}

#light-theme-icon,
#dark-theme-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 20px;
}

#light-theme-icon {
  display: block;
}

#dark-theme-icon {
  display: none;
}


@media (max-width: 768px) {
  #sidebar {
    max-width: 230px; /* Maximum width for smaller screens */
  }
}