/* dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Root and Body - also change values in theme toggle.js */
:root {

/* Body CSS var */
  --text-color: #ffffff;
  --background-color: #0d1116;
  --background-color-header: #000000;
    
/* Box CSS var */
  --box-outline-color: #2f363c;
  --box-bg-color-dark: #000000; 
  --box-bg-color-light: #c1c1c1;

/* Forms CSS var */
  --font-size-label: 13px;
  --font-size-input: 15px;
  --button-bg-normal-color: #121d2d;
  --button-bg-hover-color: #1e4a7f;
  --button-outline-hover-color: 15px;
  --button-text-color: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 13px !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Links */
a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}



/* Main Layout */
#dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main,
.content-container {
  position: relative;
  overflow: auto;
  flex-grow: 1;
  min-height: 100vh;
  border-left: 1px solid var(--box-outline-color);

}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling for the main content */
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px; /* if change here also change #sidebar height calculation 100vH - */
  width: 100%;
  border-bottom: 1px solid var(--box-outline-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color-header);
  z-index: 1;
}

/* Logo */
#logo {
  display: flex;
  align-items: center;
}

#logo div {
  margin-left: 0px;
  font-size: 1.0em;
}

#logo-img {
  display: block;
  height: 15px;
}

/* Sidebar */
#sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  max-width: 300px;
  position: sticky;
  top: 0;
  height: calc(100vh - 60px); /* -value depends on height of #header min-height */
}

/* Menu */
.menu {
  width: 100%;
  background-color: var(--background-color);
      justify-content: center;
}

.menu .item {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid var(--box-outline-color);
}

.menu .icon-item {
  display: flex;
  align-items: center;
}

.menu .item:last-child {
  border-bottom: 1px solid var(--box-outline-color);
}

.menu .item:hover {
  background-color: var(--box-bg-color-dark);
  color: #ffffff;
}

.light-theme .menu .item:hover {
  background-color: var(--box-bg-color-light);
}

/* Theme Toggle */
#theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
}

#light-theme-icon,
#dark-theme-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 20px;
}

#light-theme-icon {
  display: block;
}

#dark-theme-icon {
  display: none;
}
