/* forms.css */

.form__group {
  position: relative;
  padding: 20px 20px 0 0;
  width: 100%;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: var(--font-size-label);
  color: var(--box-outline-color);
  pointer-events: none;
  padding-top: 8px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--box-outline-color);
  outline: 0;
  font-size: var(--font-size-input);
  font-weight: bold;
  color: var(--text-color);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;

}

/* Autofill styles */
.form__field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: var(--font-size-label);
  cursor: text;
  top: 18px;
}

.form__field:-ms-input-placeholder ~ .form__label {
  font-size: var(--font-size-label);
  cursor: text;
  top: 18px;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: var(--font-size-label);
  cursor: text;
  top: 18px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #FFC400, #FFC400);
  border-image: -webkit-gradient(linear, left top, right top, from(#FFC400), to(#FFC400));
  border-image: linear-gradient(to right, #FFC400, #FFC400);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: var(--font-size-label);
  color: #FFC400;
  font-weight: normal;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  width: 100%;

  height: 50px;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin: 1rem auto;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #1e4a7f;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: normal;
  background-color: var(--button-bg-normal-color);
}

.btn-primary::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-bg-hover-color);
  transform: translateX(-101%);
  transition: all .3s ease;
  z-index: -1;
}

.btn-primary:hover {
  color: #FFFFFF;
  transition: all .3s ease;
}

.btn-primary:hover::before {
  transform: translateX(0);
}


.btn-secondary {
  width: 260px;
  height: 50px;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #A8A8A8;
  margin: 1rem auto;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #272727;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: normal;
  background-color: transparent;
}

.btn-secondary::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-101%);
  transition: all .3s ease;
  z-index: -1;
}

.btn-secondary:hover {
  color: #272727;
  transition: all .3s ease;
}

.btn-secondary:hover::before {
  transform: translateX(0);
}