.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-text-1 {
  width: 446px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.23077rem;
  width: 446px;
  margin: 13px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 191px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  width: 400px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-3 {
  width: 400px;
  margin: 52px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 80px 0 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 47px;
    margin-right: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.846154rem;
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.846154rem;
    padding: 0;
  }
}