:root {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-color: #000000;
}


.form {
  width: var(--width-of-input);
  position: relative;
  margin: 5px auto;
}

.input {
  color: #FFFFFF;
  font-size: 1.1em;
  background-color: transparent;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active,
.input:-moz-autofill,
.input:-moz-autofill:hover,
.input:-moz-autofill:focus,
.input:-moz-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #FFFFFF !important;
  -moz-text-fill-color: #FFFFFF !important;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label span {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-top: -2px; /* Adjust the value as needed */
}



.btn {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  color: #000000;
  margin: 1rem auto;
  padding: 0.7rem;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #96ca0d;
  transform: translateX(-101%);
  transition: all 0.3s ease;
  z-index: -1;
}

.btn:hover {
  color: #000000;
  transition: all 0.3s ease;
}

.btn:hover::before {
  transform: translateX(0);
}


.btn_2ndl {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  color: #ffffff;
  margin: 1rem auto;
  padding: 0.7rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
}

.btn_2ndl::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #96ca0d;
  transform: translateX(-101%);
  transition: all 0.3s ease;
  z-index: -1;
}

.btn_2ndl:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn_2ndl:hover::before {
  transform: translateX(0);
}
